# .NET
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings

# Node
node_modules/
dist/
.cache/

# Environment / secrets
appsettings.Development.json
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

informations.txt

*.txt
